
@font-face {
    font-family: 'TwemojiMozilla-Regular';
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.6px;
    src: local('TwemojiMozilla-colr'), url('TwemojiMozilla-colr.woff2') format('truetype');
}
